@import url("styles/header.css");
@import url("styles/banner.css");


:root {
    --preto: #000000;
    --font-size: 'Poppin', 'sans serif';
    --branco: #FFFFFF;
    --azul: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #325689 165.37%);
    --laranja: #EB9B00;
}

body {
background-color: var(--branco);
color: var(--preto);
font-size: var(--font-size);
}