.cabecalho {
    width: 24%;
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.container {

}

.container__botao:checked~.lista-menu {

}

.cabecalho__menu-hamburguer {

}

.lista-menu {

}